@model _23DH114201_My_Store.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">CHI TIẾT SẢN PHẨM</h2>

@Html.Partial("DetailsDelProdPV", Model)

<br />
<br />

<div class="form-group" style="margin-left:33%">
    <div class="col-md-10">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary " })
    </div>
</div>