@model _23DH114201_My_Store.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Customer Home Page";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    <link href="~/Content/myStyle/CustomerHome.css" rel="stylesheet" />
}

@*PHẦN BANNER*@
<section class="container-fluid banner">
    <div class="banner-container">
        <h2>Chào mừng đến trang web E-commerce</h2>
        <p>Mua sắm trực tuyến với hàng ngàn sản phẩm đa dạng và chất lượng</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    </div>
</section>

@*PHẦN TÌM KIẾM SẢN PHẨM*@
<section class="container-fluid searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Admin/CustomerHome", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "search-input",
                placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
            })

            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>
    }
</section>

@*PHẦN SẢN PHẨM NỔI BẬT*@
@Html.Partial("FeatureProductPV", Model)

@*PHẦN SẢN PHẨM MỚI*@
@Html.Partial("NewProductPV", Model)
